.sidebar {
  background: white;
  width: 360px;
  position: absolute;
  z-index: 1000;
  transition: transform 200ms ease;
  overflow-y: hidden;
  height: 100%;
  top: 0;
  /* padding-top: 70px; */
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.sidebarOpen {
  transform: translate(0%);
}

.sidebarClose {
  transform: translate(-100%);
}

@media only screen and (max-width: 640px) {
  .sidebar {
    width: 100%;
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem 1rem;
}

.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  font-size: 0.875rem;
  border-radius: 0.75rem;
}

.cardContainerDanger {
  background: #fef2f2;
}

.cardContainerActive {
  background: #e5e5e5;
}

.cardContainer h3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  font-weight: 500;
}

.cardContainerHover {
  background-color: #f3f4f6;
}

.cardContainer button {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  top: 0;
}

.cardContainer button:hover {
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content .mag {
  flex-basis: 36px;
}

.content .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem
}

.content .info .subinfo {
  font-size: 0.75rem;
  color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.danger {
  color: red;
  font-weight: 700;
}

.select {
  width: 100%;
  padding: 0.25rem 1rem 0.25rem 0.25rem;
  border: 1px solid #CCC;
  border-radius: 8px;
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headerSelects {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
}

.header div {
  flex-grow: 1;
  flex-basis: 0;
}

.checkbox label {
  display: flex;
}

.checkbox input {
  margin-right: 0.25rem;
}

.topNav {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topNav h1 {
  font-weight: 600;
  font-size: 1rem;
}