.sidebar {
  background: white;
  width: 360px;
  height: 100%;
  position: fixed;
  z-index: 999;
  transition: transform 200ms ease;
}

.sidebarOpen {
  transform: translate(0%);
}

.sidebarClose {
  transform: translate(-100%);
}

@media only screen and (max-width: 640px) {
  .sidebar {
    width: 100%;
  }
}