:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: rgba(0, 0, 0, 1);
  --primary-color-lighten: rgba(0, 0, 0, 0.8);

  --secondary-color: rgba(255, 255, 255, 1);
  --secondary-color-darken: #e5e7eb;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a, button, h1, h2, h3, h4, h5, h6, input, ol, p, textarea, th, ul {
  background: transparent;
  border-radius: 0;
  border: 0;
  font: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  vertical-align: baseline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}