.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2;
  white-space: nowrap;
  font-size: 0.875rem;
  border: none;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.button-default {
  height: 2rem;
  padding: 0.5rem 1rem;
}

.button-primary {
  background-color: var(--primary-color);
}

.button-icon {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--secondary-color);
}

.button-default:hover {
  background-color: var(--primary-color-lighten);
}

.button-icon:hover {
  background-color: var(--secondary-color-darken);
}
